.gamer-title {
    font-family: 'Press Start 2P', cursive; /* O la fuente que elijas */
    font-size: 2.5rem; /* Ajusta el tamaño según lo que prefieras */
    color: #0c153b; /* Un color brillante que resalte */
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7); /* Agrega un efecto de sombra */
  }
  